@page "/AboutUser"
@using BlazorView.Data;
@inject AuthenticationStateProvider auth;
@inject HttpClient httpclient;
@inject SessionManager sessions;
@using static BlazorView.Pages.Index;
<PageTitle>Регистрация</PageTitle>

<style>

</style>

<EditForm Model="@userData" OnSubmit="Edit">
    <h1 style="margin-bottom: 5%">Информация о пользователе</h1>

    <h4>Email</h4>
    <p>
        <InputText id="email" @bind-Value="userData.Email" />
    </p>

    <h4>Логин</h4>
    <p>
        <InputText id="login" @bind-Value="userData.Login" />
    </p>

    <h4>Пароль</h4>
    <p>
        <InputText id="pass" @bind-Value="userData.Password" />
    </p>

    <h4>Фамилия</h4>
    <p>
        <InputText id="pass" @bind-Value="userData.Password" />
    </p>

    <h4>Имя</h4>
    <p>
        <InputText id="pass" @bind-Value="userData.Password" />
    </p>

    <h4>Отчество</h4>
    <p>
        <InputText id="pass" @bind-Value="userData.Password" />
    </p>

    <p>
        <a class="btn btn-primary" href="/">Назад</a>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </p>

</EditForm>
@code {
    UserData userData = new();
    string message = "";
    async Task Edit()
    {
        
    }
}
